.task {
  width: 100%;
  max-width: 736px;
  display: flex;
  align-items: flex-start;
  gap: 12px;

  padding: 16px;
  border-radius: 8px;
  background-color: var(--gray500);
  color: var(--gray100);
}

.task input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.task input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 24px;
  height: 24px;
  color: var(--gray100);
  font-size: 1.2rem;
  background-color: var(--purpleDark);
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task input[type="checkbox"]:checked + p {
  text-decoration: line-through;
  color: var(--gray300);
}

.task p {
  width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
}

.task .svg {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task .svg svg {
  transition: fill 0.3s ease;
}

.task .svg:hover path {
  fill: var(--danger);
}

.task .svg:hover {
  cursor: pointer;
}
